.infopanel
  font-size: 20px
  margin-left: 20px
  margin-top: 120px

  label
    display: inline-block
    font-weight: bolder
    width: 120px
    &.inputCommand
      width: 100%
      margin-bottom: 10px

  textarea
    font-size: 16px
    display: block

  button
    font-size: 18px
    margin: 10px 0
    padding: 5px
