$grid-color: #cce9f9

.mapGrid
  border: 5px solid $grid-color
  position: absolute
  display: flex
  flex-wrap: wrap
  flex-direction: column-reverse

.cell
  display: inline-block
  box-sizing: border-box
  border-left: 1px solid $grid-color
  border-bottom: 1px solid $grid-color
